<html>
<head>
    <link rel=stylesheet type=text/css href={{url_for('static', filename='styles.css')}}
</head>
<body>
<h1>Catalog App</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{message}} </strong> </li>
        {% endfor%}
        </ul>
    {% endif%}
{% endwith%}

<br>

<h2>Categories</h2>
<a href="{{url_for('newItem')}}">New Item</a>

{% for i in categories %}

<div>

<h3>
{{i.category}}
</h3>
    {% for x in items %}
        {% if i.category == x.category %}
            <p>
            <img src="{{x.image}}" alt={{x.item}} width="42" height="42">
            </p>
            <p>
            <a href="{{url_for('showItem',category=x.category, category_item=x.item)}}">{{x.item}}</a>
            <a href="{{url_for('editCatalogItem', category=x.category, category_item=x.item)}}">Edit</a>
            <a href="{{url_for('deleteCatalogItem', category=x.category,
            category_item=i.item)}}">Delete</a>
            </p>
        {% endif %}
    {% endfor %}
</div>


{% endfor %}



</body>

</html>