<html>
<head>
    <link rel=stylesheet type=text/css href={{url_for('static', filename='styles.css')}}
</head>
<body>
<h1><a href={{url_for('showCatalog')}}>Catalog App</a></h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{message}} </strong> </li>
        {% endfor%}
        </ul>
    {% endif%}
{% endwith%}

<br>
<p><img src="{{item.image}}" alt={{item.item}} width="200" height="200"></p>
<h2>{{item.item}}</h2>
<p>{{item.item_description}}

</body>

</html>