<html>
<body>
<h1> New Catalog Item </h1>

<form action="{{url_for('newItem')}}" method = 'POST'>

<p>Category:</p>

<!-- <input type='text' size='30' name='category'> -->
<select name='category'>
    <option value="Tops">Tops</option>
    <option value="Accessories">Accessories</option>
    <option value="Bags">Bags</option>
    <option value="Dresses">Dresses</option>
    <option value="Jacket-Coat">Jacket-Coat</option>
    <option value="Jeans">Jeans</option>
    <option value="Pants">Pants</option>
    <option value="Shoes">Shoes</option>
    <option value="Shorts">Shorts</option>
    <option value="Sweaters">Sweaters</option>
    <option value="Other">Other</option>
</select>

<p>Item:</p>
<input type='text' size='30' name='item'>

<p>Image URL:</p>
<input type='text' size='30' name='item_url'>

<p>Item Description:</p>
<textarea rows='5' cols='50' name='item_description'></textarea>

<input type='submit' value='Create'>

</form>
<a href={{url_for('showCatalog')}}> Cancel</a>

</body>
</html>